<div class="outer">
  <br>
  <strong *ngIf="operation=='update'">Edit movie</strong>
  <strong *ngIf="operation=='insert'">Add movie</strong>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
  <br>
  <div class="form-group">
    <label for="name">Name: </label>
    <input required="{{!upd}}" ngModel name="name" #name="ngModel" id="name" type="text" class="form-control" placeholder="{{movieObj.name}}">
    <div class="alert-danger" *ngIf="name.touched && !name.valid">Name is required</div>
  </div>
  <div class="form-group" (ngSubmit)="onSubmit()">
    <label for="category">Category: </label>
    <select required="{{!upd}}" ngModel name="category" #category="ngModel" id="category" class="form-control">
      <option *ngFor="let category of categoryList" value="{{category.id+':'+category.name}}">{{category.name}}</option>
    </select>
    <div class="alert-danger" *ngIf="category.touched && !category.valid">Category is required</div>
  </div>
  <div class="form-group">
    <label for="culture">Culture: </label>
    <input required="{{!upd}}" ngModel name="culture" #culture="ngModel" id="culture" type="text" class="form-control" placeholder="{{movieObj.culture}}">
    <div class="alert-danger" *ngIf="culture.touched && !culture.valid">Culture is required</div>
  </div>
  <div class="form-group">
    <label for="language">Language: </label>
    <select required="{{!upd}}" ngModel name="language" #language="ngModel" id="language" class="form-control">
      <option *ngFor="let language of languageList" value="{{language.id+':'+language.name}}">{{language.name}}</option>
    </select>
    <div class="alert-danger" *ngIf="language.touched && !language.valid">Language is required</div>
  </div>
  <div class="form-group">
    <label for="releasedate">Release Date: </label>
    <input required="{{!upd}}" ngModel name="releasedate" #releasedate="ngModel" id="releasedate" type="month" class="form-control" value="<?=date('{{movieObj.releaseYear}}-{{movieObj.releaseMonth}}')?>">
    <div class="alert-danger" *ngIf="releasedate.touched && !releasedate.valid">ReleaseDate is required</div>
  </div>
  <br><button class="button" type="submit" [disabled]="!f.valid">Submit</button>
  </form>
  <br>
</div>